@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Source+Sans+Pro&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

/*  all style about header part */
header {
    display: flex;
    /* width: 100%; */
    margin: 50px 140px;
    background-color: #161616;
    border-radius: 30px;
    color: #ffffff;
    padding-top: 20px;

}

.extra-half {
    width: 50%;
}

.class-for-header {

    text-align: left;
    padding-top: 111px;
    padding-bottom: 111px;
    padding-left: 106px;
}

.header-for-banner {
    align-self: flex-end;
}

.header-for-banner img {
    width: 581px;
    height: 613px;
}

.tittle-part {
    font-size: 70px;
    font-weight: 700;
}

.header-details {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 46px;
}

.links {
    text-decoration: none;
    padding: 10px 25px;
    background-color: #DD0000;
    color: #ffffff;
    border-radius: 5px;
}

/* header animation part  */
@keyframes head-anim {
    0% {


        transform: translate(0px, 0px);
    }

    50% {


        transform: translate(2px, 0px);

    }

    80% {


        transform: translate(4px, 0px);
    }


    100% {


        transform: translate(10px, 0px);

    }
}

header .links>i {
    animation: head-anim 1s ease-in-out 1s infinite normal;
}

/* main container  */
.for-main {
    display: flex;
    margin: 130px 140px;
    justify-content: center;

}

/* options */
.option-item {
    width: 312px;
    height: 312px;
    background-color: #161616;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 15px;
    margin: 0px 24px;
    flex-basis: 312px;
    flex-grow: 0;
    flex-shrink: 0;


}

.for-button {
    padding: 17px 39px;

    background-color: white;
    margin: 15px 30px;
    border-radius: 10px;
    text-align: center;
}

.for-button a {
    text-decoration: none;
    color: black;
}

.another-button {
    background-color: #DD0000;

}

.another-button a {
    color: white;
}

/* content-box */

.for-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

.button-for-content {
    font-size: 16px;
    font-weight: 500;
    border: 1px solid gray;
    background-color: white;
    border-radius: 5px;
}

.description h3 {
    font-size: 18px;
    font-weight: 600;
    color: #161616;
}

.duration {
    color: #161616;
    opacity: 70%;
}

.duration span {
    padding-right: 30px;
}

.imgs {
    width: 252px;
    height: 56.18px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;

}


.imgs>div>img {
    width: 93.04px;
    height: 54.42px;
}

.vs {
    width: 20px;
    margin: 0 auto;
}

.match-des {
    text-align: center;
}

.main-content {
    padding: 53px 30px;
    border: 1px solid #E8E8E8;
}

.match-des h4 {
    font-size: 20px;
}

.match-des p {
    color: #4D4D4D;
}

.viewall {
    margin: 70px;
    display: none;
}

/* all styles about footer 
 */
footer {
    background-color: #161616;
    color: white;
    margin: 0;
    text-align: center;
    padding-top: 130px;
}

.footer-tittle {
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: 600;
}

footer hr {
    opacity: 10%;
    width: 1320px;

}



.some-link a,
.social-site a {
    text-decoration: none;
    color: #B9B9B9;
    font-size: 16px;
    padding: 0px 20px;
    font-weight: 500;
}

.social-site,
.some-link {

    padding-bottom: 30px;
}

/* responsive making */
@media only screen and (max-width:688px) {


    header {

        flex-direction: column;
        margin: 40px 20px;
        align-items: center;


    }

    .extra-half {
        width: 70%;
    }

    .class-for-header {
        padding: 28px 53px;
        text-align: center;



    }

    .header-for-banner {
        align-self: center;
        text-align: center;
    }

    .tittle-part {
        font-size: 22px;
        text-align: center;
    }

    .header-details {
        font-size: 14px;
        width: 258px;
        height: 40px;

        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

    }


    .header-for-banner img {
        width: 233px;
        height: 245px;
    }

    .for-main {
        flex-direction: column;
        gap: 20px;
        align-items: center;
        margin-top: 0;

    }

    .option-item {
        background-color: white;
    }

    .option-item .for-button {
        border: 1px solid rgba(128, 128, 128, 0.52);

    }

    .for-content {
        grid-template-columns: repeat(1, 1fr);
    }

    .for-content .main-content {
        border: 1px solid rgba(128, 128, 128, 0.319);
        border-radius: 10px;
        padding: 10px;
    }

    .some-link a {
        display: block;
        padding-top: 9px;
    }

}

/* responsive for tablet */

@media only screen and (min-width:689px) and (max-width:992px) {

    header {
        margin: 50px;
    }

    .class-for-header {
        padding: 28px 30px;
        text-align: left;
        margin-bottom: 30px;


    }



    .tittle-part {
        font-size: 40px;

    }

    .header-details {
        font-size: 14px;
        margin-bottom: 20px;



    }


    .header-for-banner img {
        width: 233px;
        height: 245px;
    }




    .for-main {
        flex-direction: column;
        gap: 20px;
        align-items: center;
        margin-top: 0;
        margin: 70px 50px;

    }

    .option-item {

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        width: 100%;
        height: auto;
        background-color: white;
        flex-basis: auto;
        flex-grow: 0;
        flex-shrink: 0;

    }

    .option-item .for-button {
        border: 1px solid rgba(128, 128, 128, 0.52);
        padding: 17px 28px;
        margin: 20px;
    }

    .for-content {
        grid-template-columns: repeat(2, 1fr);
    }

    .for-content .main-content {
        border: 1px solid rgba(128, 128, 128, 0.319);
        border-radius: 10px;
        padding: 10px;
    }

    .viewall {
        display: block;
    }

    .some-link {
        padding-left: 70px;
        padding-right: 70px;
    }
}